:root {
  --background: hsl(0, 0%, 14%);
  --background-fields: hsl(0, 0%, 9%);
  --color-approvedbg: hsl(87, 100%, 80%);
  --color-reprovedbg: hsl(0, 100%, 80%);
  --reproved: hsl(0, 74%, 70%);
  --approved: hsl(87, 61%, 61%);
  --whitecolor-font: hsl(0, 0%, 100%);
  --greycolor-font: hsl(0, 0%, 80%);
  --background-btn: hsl(93, 90%, 65%);
  --background-btnhover: hsl(93, 80%, 61%);
}

body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-color: var(--background);
  background-size: 80vh;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: var(--whitecolor-font);
  margin: 0 0 5px;
}

.page-subtitle {
  color: var(--whitecolor-font);
  margin-top: 5px;
}

.page-logo {
  width: 200px;
  margin-top: 32px;
  margin-bottom: 64px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.container-fields {
  margin-top: 64px;

  width: 75%;
  height: auto;

  background-color: var(--background-fields);

  padding: 24px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.container-fields .field {
  margin-bottom: 16px;
  height: 18px;

  background-color: var(--background);

  padding: 8px;
  border: none;
  border-bottom: 1px solid var(--greycolor-font);

  font-size: 14px;
}

input {
  color: var(--greycolor-font);
}

.result .alert-approved {
  background-color: var(--color-approvedbg);
  color: var(--reproved);

  border: 1px solid var(--reproved);
}

.result .alert-reproved {
  background-color: var(--color-reprovedbg);
  color: var(--reproved);

  border: 1px solid var(--reproved);
}

.btn {
  height: 32px;
  padding: 8px;

  background-color: var(--background-btn);
  border: none;
  margin-top: 12px;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.4s all ease-in-out;
}

.btn:hover {
  background-color: var(--background-btnhover);
}
